.fab{
    position: fixed;
    bottom: 30px;
    right : 30px
}
.emain {
    padding: 20px;
    margin: 20px;
    overflow-x: auto;
}
.expensecard {
    width: calc(50vw / 2)
}
.below{
    padding-top: 10px;
}
span{
    font-weight: 500;
    font-size: medium;
}

.text{
    padding-top: 8px;
    display: block;
    margin-left: 20px;
}

.matCardTitle{
    font-size: 19px;
}
.rwrapper{
    padding:16px;
    height : 75vh;
}

@import "~@angular/material/theming";

@mixin er-layout($theme) {
    $background : map-get($theme,background);
    $foreground: map-get($theme, foreground);
  
    .rwrapper {
        background-color: mat-color($background, background);
    }

    .text {
        color: mat-color($foreground, text);
   
    }
}
