.fab{
    position: fixed;
    bottom: 30px;
    right : 30px
}
.main {
    padding-bottom: 40px;
    margin-top: 20px;
    overflow-x: auto;
}
.expensecard {
    width: 40vw;
}
.below{
    padding-top: 10px;
}
span{
    font-weight: 500;
    font-size: medium;
}

.matCardTitle{
    font-size: 19px;
}
.wrapper{
    padding:16px;
    background-color: whitesmoke;
}