<form name="loginForm"
  autocomplete="off"
  novalidate
  [formGroup]="form"
  (ngSubmit)="onSubmit()">

  <mat-form-field appearance="outline">
    <mat-label> username</mat-label>
    <input matInput
      autocomplete="off"
      tabindex="1"
      type="text"
      formControlName="username" />
    <mat-icon matSuffix>account_circle</mat-icon>
    <mat-error>
      <span *ngIf="formErrors.username.required">
        username required
      </span>
    </mat-error>
  </mat-form-field>

  <div>
    <span fxFlex></span>
    <button mat-raised-button
      tabindex="3"
      color="accent"
      type="submit"
      class="action-button w-100"
      [disabled]="form.invalid">
      login
    </button>
  </div>
</form>

