.list{
    overflow-y: auto;
    height: 80vh;
}

.fab{
    position: fixed;
    bottom: 30px;
    right : 30px
}
.fabreport{
    position: fixed;
    bottom: 30px;
    right : 100px
}

@import "~@angular/material/theming";

@mixin e-layout($theme) {
    $background : map-get($theme,background);

    .main {
        background-color: mat-color($background, background);
    }
}
