<div fxLayout="row warp" class="main" fxLayoutAlign="center center" fxLayoutGap="20px">
    
    <div *ngFor="let expense of allExpenses$ | async; trackBy:trackBackExpense" class="list">
        <e-item2 [expense]="expense" (addParticipant)="addParticipant($event)"></e-item2>
    </div>
</div>
<button mat-fab class="fab" (click)="addExpense()">
    <fa-icon icon="plus"></fa-icon>
</button>

<button *ngIf="showReportBtn" mat-fab class="fabreport" [routerLink]="['report']">
    <fa-icon icon="lightbulb"></fa-icon>
</button>