<div fxLayout="row nowrap" fxLayoutAlign="center center" class="main">
    <mat-card class="groupItem" *ngFor="let participant of participants$ | async">
        {{participant.name}}
    </mat-card>

    <button *ngIf="!add" mat-mini-fab (click)="add=true">
        <fa-icon icon="plus"></fa-icon>
    </button>
    <mat-card *ngIf="add"  class="groupItem" >
        <input [value]="newParticipant" (change)="onNameChange($event.target)"/>
        <fa-icon mat-card-avatar icon="check" (click)="onClick()"></fa-icon>
    </mat-card>
</div>