<div class="tabs">
    <!-- </mat-tab-group> (selectedTabChange)="changeRouteUrl()"> -->
    <mat-tab-group>
        <mat-tab label="Groups">
            <app-g-list></app-g-list>
        </mat-tab>
        <!-- <mat-tab label="E-list">
        <app-e-list></app-e-list>
        <span> E - List 2 </span>
        <app-e-list2></app-e-list2>
    </mat-tab> -->
        <mat-tab label="Participants">
            <app-p-list></app-p-list>
        </mat-tab>
    </mat-tab-group>
</div>
<div class="routerWapper">
    <router-outlet></router-outlet>
</div>