.routerWapper {
    overflow-y: auto;
}
.tabs {
    position: sticky;
    top: 0px;
    z-index: 10;
}

@import "~@angular/material/theming";

@mixin h-layout($theme) {
    $background : map-get($theme,background);

    .tabs {
        background-color: mat-color($background, background);
    }
}
