.smain {
  padding-top: 20px;
  padding: 40px;
  height: 100vh;
}

.icon-form-field {
  position: relative;
  display: flex;
  height: 65.5px;
  align-items: center;

  mat-placeholder {
    flex: 2 1 auto;
  }
}

mat-icon {
  margin: 0 6px 6px 0;
  font-size: 20px;
}

mat-form-field {
  flex: 1 0 auto;
}

@import "~@angular/material/theming";

@mixin s-layout($theme) {
    $background : map-get($theme,background);

    .smain {
        background-color: mat-color($background, background);
    }
}