<mat-toolbar color="primary" fxLayout="row">
    ngPlayGround
    <span fxFlex></span>

    <button mat-flat-button color="primary" routerLink="home" routerLinkActive="active">Home</button>
    <!-- <button mat-flat-button color="primary" routerLink="about" routerLinkActive="active">About</button> -->
    <button mat-icon-button routerLink="settings" routerLinkActive="active">
      <mat-icon> settings </mat-icon>
    </button>
  </mat-toolbar>
  
  <main>
    <router-outlet></router-outlet>
  </main>
