<div class="itemwrapper">
<mat-card [style.background-color]="color" class="itemmain">
    <mat-card-header>
        <mat-card-actions>
            <button class="minifab" (click)="deleteExpense()">
                <fa-icon icon="times"></fa-icon>
            </button>
        </mat-card-actions>
        
        <mat-card-title>

            <span class="text">Expense </span>
            <mat-card  *ngIf="!editMode" (click)="editMode = true;" >
                <span>
                    {{expense.name}}
                </span>
            </mat-card>
            <mat-card *ngIf="editMode" >
                <input autofocus [value]="expense.name" (change)="nameChange($event)" (blur)="editMode=false;"/>
                <fa-icon mat-card-avatar *ngIf="editMode" icon="check" (click)="editMode=false;"></fa-icon>
            </mat-card>
            <span class="text">Amount </span>
            <mat-card *ngIf="!editMode2" (click)="editMode2=true;">
                <span (click)="editMode2 = true;">
                    {{expense.amount}}
                </span>
            </mat-card>
            <mat-card *ngIf="editMode2" >
                <input autofocus [value]="expense.amount" (blur)="editMode2=false;" (change)="amountChange($event)"/>
                <fa-icon mat-card-avatar icon="check" (click)="editMode2=false;"></fa-icon>
            </mat-card>
            
        </mat-card-title>
        <mat-card-subtitle>
        <span class="text">Paid By</span>
            <div *ngIf="payedByParticipant" class="selector">
                <mat-select [(ngModel)]="payedByParticipant" (selectionChange)="payedByParticipantChange($event)">
                    <mat-option *ngFor="let p of expense.participantIds; " [value]="allParticipants[p]">
                        {{allParticipants[p].name}}
                    </mat-option>
                </mat-select>
            </div>
        </mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>
        <span class="text">Distribute Among</span>
        <mat-chip-list class="mat-chip-list">
            <ng-container *ngIf="(allParticipants$ | async) as Ps">
                <mat-chip matChipRemove *ngFor="let p of expense.participantIds" [removable]="true" (removed)="removeParticipant(p)">
                    {{Ps[p].name}}
                </mat-chip>
                <mat-menu #appMenu="matMenu">
                    <button mat-menu-item disabled> InTemplateMenu </button>
                    <ng-container *ngFor="let p of Ps | keyvalue">
                        <ng-container *ngIf="expense.participantIds.indexOf(p.value.id) == -1">
                            <button mat-menu-item (click)="addPartEvent(expense,p.value)">
                                {{p.value.name}}
                            </button>
                        </ng-container>
                    </ng-container>
                </mat-menu>

                <mat-chip [matMenuTriggerFor]="appMenu">
                    <fa-icon icon="plus"></fa-icon>
                </mat-chip>

                <mat-menu #mAppMenu="matMenu">
                    <button mat-menu-item disabled> BehaviouralMenu </button>
                    <ng-container *ngFor="let p of menuParticipants$ | async">
                        <button mat-menu-item (click)="addPartEvent(expense,p)">
                            {{p.name}}
                        </button>
                    </ng-container>
                </mat-menu>

                <mat-chip *ngIf="showAdd" [matMenuTriggerFor]="mAppMenu">
                    <fa-icon icon="plus"></fa-icon>
                </mat-chip>

                <mat-menu #m2AppMenu="matMenu">
                    <button mat-menu-item disabled> ts Menu </button>
                    <ng-container *ngFor="let p of menuParticipants">
                        <button mat-menu-item (click)="addPartEvent(expense,p)">
                            {{p.name}}
                        </button>
                    </ng-container>
                </mat-menu>

                <mat-chip *ngIf="showAdd" [matMenuTriggerFor]="m2AppMenu">
                    <fa-icon icon="plus"></fa-icon>
                </mat-chip>
            </ng-container>
        </mat-chip-list>
    </mat-card-content>
</mat-card>
</div>
